<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="INTRANET" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\eduardo.berga\Desktop\Proyectos_Django\Intranet\env\Scripts\python.exe|C:\Users\eduardo.berga\Desktop\Proyectos_Django\Intranet\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
