{% load has_group %}
  <li class="nav-item has-treeview {% if 'tables-' in segment %} menu-open {% endif %}">
    <a href="#" class="nav-link {% if 'tables-' in segment %} active {% endif %}">
      <i class="nav-icon fas fa-book"></i>
      <p>
        Instructivos
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <!-- Colocar aqui los link de los submenus, por grupos
        dentro de la clase nav nav-treeview
        cada bloque de grupo esta identificado del siguiente modo:
          Comercial
          Gerencia
          e-commerce
          Administracion
          Abastecimiento
          Logistica 
        colocar dentro de xxxx_sup los submenus de acceso retringido-->
    <ul class="nav nav-treeview">
      <!-- inicio Logistica -->
        {% if request.user|has_group:"Logistica_Sup" or request.user|has_group:"admin" %} 
          
        {% endif %}
        {% if request.user|has_group:"Logistica" or request.user|has_group:"Logistica_Sup" or request.user|has_group:"admin" %}
        
        {% endif %}
      <!-- Fin Logistica -->
      
      <!-- inicio 	Abastecimiento -->
        {% if request.user|has_group:"Abastecimiento_Sup" or request.user|has_group:"admin" %} 
                  <!-- ver solo el supervisor del area aqui -->
        {% endif %}
        {% if request.user|has_group:"Abastecimiento" or request.user|has_group:"Abastecimiento_Sup" or request.user|has_group:"admin" %}
                  <!-- accesos del area aqui -->
        {% endif %}
      <!-- Fin 	Abastecimiento -->

      <!-- inicio 	Administracion -->
        {% if request.user|has_group:"Administracion_Sup" or request.user|has_group:"admin" %} 
                  <!-- ver solo el supervisor del area aqui -->
        {% endif %}
        {% if request.user|has_group:"Administracion" or request.user|has_group:"Administracion_Sup" or request.user|has_group:"admin" %}
                  <!-- accesos del area aqui -->
        {% endif %}
      <!-- Fin 	Administracion -->

      <!-- inicio 	e-commerce -->
        {% if request.user|has_group:"e-commerce_Sup" or request.user|has_group:"admin" %} 
                  <!-- ver solo el supervisor del area aqui -->
        {% endif %}
        {% if request.user|has_group:"e-commerce" or request.user|has_group:"e-commerce_Sup" or request.user|has_group:"admin" %}
                  <!-- accesos del area aqui -->
        {% endif %}
      <!-- Fin 	e-commerce -->          

      <!-- inicio 	Gerencia -->
        {% if request.user|has_group:"Gerencia" or request.user|has_group:"admin" %} 
                  <!-- ver solo el supervisor del area aqui -->
        {% endif %}
        {% if request.user|has_group:"Gerencia" or request.user|has_group:"Gerencia_Adm" or request.user|has_group:"admin" %}
                  <!-- accesos del area aqui -->
        {% endif %}
      <!-- Fin 	Gerencia -->          

      <!-- inicio 	Comercial -->
        {% if request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %} 
                  <!-- ver solo el supervisor del area aqui -->
        {% endif %}
        {% if request.user|has_group:"Comercial_suc" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
                  <!-- accesos del area aqui -->
        {% endif %}            
        {% if request.user|has_group:"Comercial_fr" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
                  <!-- accesos del area aqui -->
        {% endif %}
        {% if request.user|has_group:"Comercial_may" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
                  <!-- accesos del area aqui -->
        {% endif %}
      <!-- Fin 	Comercial -->


    </ul>
    
  </li>
  
  {% if request.user|has_group:"admin" %}
    
    <li class="nav-item">
      <a href="/../Extras/direccionario" class="nav-link {% if '/direccionario' in request.path %} active {% endif %}">
        <i class="nav-icon fas fa-search"></i>
        <p>
          Direccionario
          <!-- <span class="badge badge-info right">2</span> -->
        </p>
      </a>
    </li>
  {% endif %}
  <!-- inicio 	Abastecimiento -->
  {% if request.user|has_group:"Abastecimiento_Sup" or request.user|has_group:"admin" %} 
            <!-- ver solo el supervisor del area aqui -->
  <li class="nav-item">
    <a href="/../Extras/importfilecierrePedidos" class="nav-link {% if 'importfilecierrePedidos' in request.path %} active {% endif %}">
      <i class="nav-icon fas fa-trash-restore-alt"></i>
      <p>Cierre de pedidos</p>
      <span class="badge badge-info right">New</span>
    </a>
  </li>
  {% endif %}
  {% if request.user|has_group:"Abastecimiento" or request.user|has_group:"Abastecimiento_Sup" or request.user|has_group:"admin" %}
            <!-- accesos del area aqui -->
  {% endif %}
<!-- Fin 	Abastecimiento -->
  