{% load has_group %}  
<li class="nav-item{% if '/Reportes/' in request.path %} menu-open {% endif %}">
  <a href="#" class="nav-link {% if '/Reportes/' in request.path %} active {% endif %}">
    <i class="nav-icon fas fa-copy"></i>
    <p>
      Reportes
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="#" class="nav-link ">
        <i class="nav-icon fas fa-circle"></i>
        <p>
          Logistica
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/../Reportes/stockcentral" class="nav-link {% if '/stockcentral' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Stock Central</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/pendiente_despacho" class="nav-link {% if 'pendiente_despacho' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Despachos Pendientes</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/MovimientosWms" class="nav-link {% if 'MovimientosWms' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Movimientos Wms</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/ConsultaDestino" class="nav-link {% if 'ConsultaDestino' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Consulta Destino</p>
            <span class="badge badge-info right">New</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link ">
        <i class="nav-icon fas fa-circle"></i>
        <p>
          Abastecimiento
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/../Reportes/stockSupply" class="nav-link {% if 'stockSupply' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Stock Supply</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Auditoria_orden" class="nav-link {% if 'Auditoria_orden' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Auditoría orden</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/CategoriasDeProductos" class="nav-link {% if 'CategoriasDeProductos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Cat. de Productos</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/HRecodificaciones"
            class="nav-link {% if 'HRecodificaciones' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>HRecodificaciones</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/Eficiencia_pedidos"
            class="nav-link {% if 'Eficiencia_pedidos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Eficiencia de pedidos</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/promocionesActivas"
            class="nav-link {% if 'promocionesActivas' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Promos Activas</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/AnalisisProductos" class="nav-link {% if '/AnalisisProductos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Analisis de Productos</p>
            <span class="badge badge-info right">New</span>
          </a>
        </li>
        
      </ul>
    </li>
    <li class="nav-item Nivel02">
      <a href="#" class="nav-link ">
        <i class="nav-icon fas fa-circle"></i>
        <p>
          Administracion
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview Nivel03">
        <li class="nav-item">
          <a href="/../Reportes/VentasXmedio_pago" id="level3" class="nav-link {% if 'VentasXmedio_pago' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Resumen de Ventas</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Consultagastos" class="nav-link {% if 'Consultagastos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Consulta de gastos</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/VentaVscobranza" class="nav-link {% if 'VentaVscobranza' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Venta Vs cobranza</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Controlcajasmensual" class="nav-link {% if '/Controlcajasmensual' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Control cajas Mensual</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/ResumenMensualAlquileres" class="nav-link {% if '/ResumenMensualAlquileres' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Resumen xMes Alquileres</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/CargaGastosTesoreria"
            class="nav-link {% if 'CargaGastosTesoreria' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Carga Gastos Tesoreria</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/DetalleContratosDeAlquiler"
            class="nav-link {% if 'DetalleContratosDeAlquiler' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Contratos De Alquiler</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/ContratosFranquicias"
            class="nav-link {% if 'ContratosFranquicias' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Contratos Alquiler Fr</p>
            <span class="badge badge-info right">New</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/FacturaManualLista"
            class="nav-link {% if 'FacturaManualLista' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Lista Fact. Manual</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link ">
        <i class="nav-icon fas fa-circle"></i>
        <p>
          e-commerce
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/../Reportes/stock_ecommerce" class="nav-link {% if '/stock_ecommerce' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Stock e-commerce</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Tracking_Ecommerce" class="nav-link {% if '/Tracking_Ecommerce' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Tracking Ecommerce</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Pedidos" class="nav-link {% if '/Pedidos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Pedidos</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/PedidosUY" class="nav-link {% if '/PedidosUY' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Pedidos UY</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Auditoria_Ecommerce" class="nav-link {% if 'Auditoria_Ecommerce' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Auditoría Ecommerce</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Auditoria_Prisma" class="nav-link {% if 'Auditoria_Prisma' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Track Auditoría Prisma</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Segmentacion_clientes" class="nav-link {% if 'Segmentacion_clientes' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Segmentación de clientes</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link ">
        <i class="nav-icon fas fa-circle"></i>
        <p>
          Gerencia
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="http:/../Reportes/DetalleRemitos599/{{ request.user.username }}"
            class="nav-link {% if 'DetalleRemitos599' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Detalle Rem599</p>
            <!-- <span class="badge badge-info right">2</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/ChequesRecibidos/{{ request.user.username }}"
            class="nav-link {% if 'ChequesRecibidos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Reporte de cheques</p>
            <!-- <span class="badge badge-info right">2</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Extras/reporTrello"
            class="nav-link {% if 'reporTrello' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Tareas Diarias</p>
            <!-- <span class="badge badge-info right">2</span> -->
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
          Comercial
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/../Reportes/VentasXcanal" class="nav-link {% if 'VentasXcanal' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Ventas por canal</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/stockSucursalesLakers" class="nav-link {% if 'stockSucursales' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Stock Sucursales</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Stock_Suc_Articulos" class="nav-link {% if 'Stock_Suc_Articulos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Stock sucursales X Art.</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Tracking_pedidos_mayoristas" class="nav-link {% if 'Tracking_pedidos_mayoristas' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Track Ped Mayoristas</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/AdmEmpleados" class="nav-link {% if '/AdmEmpleados' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Lista Empleados</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        
      </ul>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link ">
        <i class="nav-icon fas fa-circle"></i>
        <p>
          RRHH
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/../Reportes/AsistenciasSuc" class="nav-link {% if '/AsistenciasSuc' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Reporte De Asistencias</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</li>