{% load has_group %}



<li class="nav-item {% if '/Dashboard/' in request.path %} menu-open {% endif %}">
  <a href="#" class="nav-link {% if '/Dashboard/' in request.path %} active {% endif %}">
  <!-- <a href="#" class="nav-link active"> -->
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p>
      Dashboard
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>

  <ul class="nav nav-treeview">
    <!-- inicio Logistica -->
      {% if request.user|has_group:"Logistica_Sup" or request.user|has_group:"admin" %} 
      
      {% endif %}
      <!-- ver solo el supervisor del area aqui -->
      {% if request.user|has_group:"Logistica" or request.user|has_group:"Logistica_Sup" or request.user|has_group:"admin" %}
      <li class="nav-item">
        <a href="/../Dashboard/Kpis_Logistica" class="nav-link {% if 'Kpis_Logistica' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Kpis Logistica
            <!-- <i class="right fas fa-angle-left"></i>
            <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>

      <!-- <li class="nav-item">
        <a href="/index2.html" class="nav-link {% if 'index2.html' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Dashboard v2</p>
        </a>
      </li>
      
      <li class="nav-item">
        <a href="/index3.html" class="nav-link {% if 'index3.html' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Dashboard v3</p>
        </a>
      </li> -->
      {% endif %}
    <!-- Fin Logistica -->
    
    <!-- inicio 	Abastecimiento -->
      {% if request.user|has_group:"Abastecimiento_Sup" or request.user|has_group:"admin" %} 
                <!-- ver solo el supervisor del area aqui -->
      {% endif %}
      {% if request.user|has_group:"Abastecimiento" or request.user|has_group:"Abastecimiento_Sup" or request.user|has_group:"admin" %}
                <!-- accesos del area aqui -->
      {% endif %}
    <!-- Fin 	Abastecimiento -->

    <!-- inicio 	Administracion -->
      {% if request.user|has_group:"AdministracionSup" or request.user|has_group:"admin" %} 
                <!-- ver solo el supervisor del area aqui -->
      {% endif %}
      {% if request.user|has_group:"Administracion" or request.user|has_group:"AdministracionSup" or request.user|has_group:"admin" %}
                <!-- accesos del area aqui -->
      {% endif %}
    <!-- Fin 	Administracion -->

    <!-- inicio 	e-commerce -->
      {% if request.user|has_group:"e-commerce_sup" or request.user|has_group:"admin" %} 
                <!-- ver solo el supervisor del area aqui -->
                <li class="nav-item">
                  <a href="/../Dashboard/Ventas_Ecommerce" class="nav-link {% if 'Ventas_Ecommerce' in request.path %} active {% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ventas Ecommerce</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/../Dashboard/PromocionesEcommerce" class="nav-link {% if 'PromocionesEcommerce' in request.path %} active {% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Promos Ecommerce</p>
                  </a>
                </li>
      {% endif %}
      {% if request.user|has_group:"Logistica_Sup" or request.user|has_group:"e-commerce" or request.user|has_group:"e-commerce_sup" or request.user|has_group:"admin" %}
      <li class="nav-item">
        <a href="/../Dashboard/Kpis_Ecommerce" class="nav-link {% if 'Kpis_Ecommerce' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Kpis Ecommerce</p>
        </a>
      </li>
      {% endif %}
    <!-- Fin 	e-commerce -->          

    <!-- inicio 	Gerencia -->
      {% if request.user|has_group:"Gerencia" or request.user|has_group:"admin" %} 
                <!-- ver solo el supervisor del area aqui -->
      <li class="nav-item">
        <a href="/../Dashboard/PremiosComercial" class="nav-link {% if 'PremiosComercial' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Premios Comercial</p>
          <span class="badge badge-danger right">New</span>
        </a>
      </li>
      {% endif %}
      {% if request.user|has_group:"Gerencia" or request.user|has_group:"Gerencia_Adm" or request.user|has_group:"admin" %}
                <!-- accesos del area aqui -->
      {% endif %}
    <!-- Fin 	Gerencia -->          

    <!-- inicio 	Comercial -->
      {% if request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %} 
                <!-- ver solo el supervisor del area aqui -->
      {% endif %}
      {% if request.user|has_group:"Comercial_may" or request.user|has_group:"Comercial_fr" or request.user|has_group:"Comercial_suc" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
      <!-- accesos del area comercial aqui -->
      <li class="nav-item">
        <a href="/../Dashboard/Promociones" class="nav-link {% if 'Promociones' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Promociones</p>
        </a>
      </li>
      
      
      <li class="nav-item">
        <a href="/../Dashboard/Geodatos" class="nav-link {% if 'Geodatos' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Geodatos</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/../Dashboard/Notas_de_credito" class="nav-link {% if 'Notas_de_credito' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Notas de credito</p>
        </a>
      </li>
      {% endif %}
      {% if request.user|has_group:"Comercial_may" or request.user|has_group:"Comercial_fr" or request.user|has_group:"Comercial_suc" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin"  or request.user|has_group:"Abastecimiento" %}
      <li class="nav-item">
        <a href="/../Dashboard/Ventas_Franquicias" class="nav-link {% if 'Ventas_Franquicias' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Ventas Franquicias</p>
        </a>
      </li>
      {% endif %}
      {% if request.user|has_group:"Comercial_may" or request.user|has_group:"Comercial_fr" or request.user|has_group:"Comercial_suc" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin"  or request.user|has_group:"e-commerce"  or request.user|has_group:"Produccion"  or request.user|has_group:"Abastecimiento" %}
      <li class="nav-item">
        <a href="/../Dashboard/Ventas_Sucursales" class="nav-link {% if 'Ventas_Sucursales' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Ventas Sucursales</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/../Dashboard/Ventas_SucursalesUY" class="nav-link {% if 'Ventas_SucursalesUY' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Ventas Sucursales UY</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/../Dashboard/Velocidad_de_Ventas" class="nav-link {% if 'Velocidad_de_Ventas' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Velocidad de Ventas</p>
        </a>
      </li>
      {% endif %} 
      {% if request.user|has_group:"Comercial_suc" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
      <!-- accesos del area Comercial_suc aqui -->
      <li class="nav-item">
        <a href="/../Dashboard/Inventarios_Sucursales" class="nav-link {% if 'Inventarios_Sucursales' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Inventarios Sucursales</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/../Dashboard/Conteos" class="nav-link {% if 'ConteosConteos' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Conteos</p>
        </a>
      </li>
      {% endif %}            
      {% if request.user|has_group:"Comercial_fr" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
                <!-- accesos del area Comercial_fr aqui -->
      {% endif %}
      {% if request.user|has_group:"Comercial_may" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
      <!-- accesos del area Comercial_may aqui -->
      <li class="nav-item">
        <a href="/../Dashboard/Ventas_Mayoristas" class="nav-link {% if 'Ventas_Mayoristas' in request.path %} active {% endif %}">
          <i class="far fa-circle nav-icon"></i>
          <p>Ventas Mayoristas</p>
        </a>
      </li>
      {% endif %}
    <!-- Fin 	Comercial -->


  </ul>
  
</li>
