{% load has_group %}
<li class="nav-item {% if 'Herramientas' in request.path %} menu-open {% endif %}">
  <a href="#" class="nav-link {% if 'Herramientas' in request.path %} active {% endif %}">
    <i class="nav-icon fas fa-tools"></i>
    <p>
      Herramientas
      <i class="fas fa-angle-left right"></i>
      <!-- <span class="right badge badge-danger">New</span> -->
    </p>
  </a>
  <ul class="nav nav-treeview">
    <!-- RRHH compartido -->
    {% if request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" or request.user|has_group:"RRHH" %}
    <li class="nav-item">
      <a href="/../Herramientas/altaVendedores" class="nav-link {% if '/altaVendedores' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Alta Vendedores</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/grupoVendedores" class="nav-link {% if '/grupoVendedores' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Grupo Vendedores</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/gestionarVendedores" class="nav-link {% if '/gestionarVendedores' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestionar Vendedores</p>
      </a>
    </li>
    {% endif %}    
    <!-- inicio Logistica -->
    {% if request.user|has_group:"Logistica_Sup" or request.user|has_group:"admin" %}

    {% endif %}
    {% if request.user|has_group:"Logistica" or request.user|has_group:"Logistica_Sup" or request.user|has_group:"admin" %}
    <li class="nav-item">
      <a href="/../Herramientas/Gestion_guias_mayoristas"
        class="nav-link {% if 'Gestion_guias_mayoristas' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Guías mayoristas</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Gestion_cronograma"
        class="nav-link {% if 'Gestion_cronograma' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestión cronograma</p>
      </a>
    </li>
    {% endif %}
    <!-- Fin Logistica -->

    <!-- inicio 	Abastecimiento -->
    {% if request.user|has_group:"Abastecimiento_Sup" or request.user|has_group:"admin" %}
    <!-- ver solo el supervisor del area aqui -->
    {% endif %}
    {% if request.user|has_group:"Abastecimiento" or request.user|has_group:"Abastecimiento_Sup" or request.user|has_group:"admin" %}
    <!-- accesos del area aqui -->
    <li class="nav-item">
      <a href="/../Herramientas/Stock_excluido"
        class="nav-link {% if 'Stock_excluido' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Stock excluido</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Carga_de_orden"
        class="nav-link {% if 'Carga_de_orden' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Carga de orden</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Activar_orden"
        class="nav-link {% if 'Activar_orden' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Activar orden</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Desactivar_orden"
        class="nav-link {% if 'Desactivar_orden' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Desactivar orden</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Recodificacion"
        class="nav-link {% if 'Recodificacion' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Recodificar OU</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/AltaPromoBancaria"
        class="nav-link {% if 'AltaPromoBancaria' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Alta Promo Bancaria</p>
        <span class="badge badge-info right">New</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/CrearGrupoPromo"
        class="nav-link {% if 'CrearGrupoPromo' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Crear Grupo Promo</p>
        <span class="badge badge-info right">New</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/EditarGrupoPromo"
        class="nav-link {% if 'EditarGrupoPromo' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Editar Grupo Promo</p>
        <span class="badge badge-info right">New</span>
      </a>
    </li>

    {% endif %}
    <!-- Fin 	Abastecimiento -->

    <!-- inicio 	Administracion -->
    {% if request.user|has_group:"AdministracionSup" or request.user|has_group:"admin" %}
    <li class="nav-item">
      <a href="http:/../Herramientas/Controlgastos"
        class="nav-link {% if 'Controlgastos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Control Gastos</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="http:/../Herramientas/CargarContratosDeAlquiler"
        class="nav-link {% if 'CargarContratosDeAlquiler' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Cargar Contratos De Alquiler</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    {% endif %}
    {% if request.user|has_group:"Administracion" or request.user|has_group:"AdministracionSup" or request.user|has_group:"admin" %}
    <li class="nav-item">
      <a href="http:/../Herramientas/Cargargastos"
        class="nav-link {% if 'Cargargastos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Cargar Gastos</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="http:/../Herramientas/Controlcajasdiario"
        class="nav-link {% if 'Controlcajasdiario' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Control cajas Diario</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="http:/../Herramientas/GestionDeAlquileres"
        class="nav-link {% if 'GestionDeAlquileres' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestion De Alquileres</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="http:/../Herramientas/CargaGastosAlquileres"
        class="nav-link {% if 'CargaGastosAlquileres' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Carga Gastos Alquileres</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="http:/../Herramientas/ControlEgresosDeCaja"
        class="nav-link {% if 'ControlEgresosDeCaja' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Ctrl Egresos De Caja</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="http:/../Herramientas/ControlMasivoCobranza"
        class="nav-link {% if 'ControlMasivoCobranza' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Control Masivo de Cobranza</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="http:/../Herramientas/RelacionesCtaCont"
        class="nav-link {% if 'RelacionesCtaCont' in request.path %} active {% endif %}">
        <i class="nav-icon far fa-circle text-warning"></i>
        <p>Gestion relaciones Cta/Cont</p>
        <!-- <span class="badge badge-info top">New</span> -->
      </a>
    </li>
    {% endif %}
    <!-- Administracion_CE   ***Comercio Exterior*** -->
    {% if request.user|has_group:"Administracion_CE" or request.user|has_group:"AdministracionSup" or request.user|has_group:"admin" %}
    <li class="nav-item">
      <a href="http:/../Herramientas/Cargarcontenedor"
        class="nav-link {% if 'Cargarcontenedor' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Cargar Contenedor</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="http:/../Herramientas/EditarContenedor"
        class="nav-link {% if 'EditarContenedor' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Editar Contenedor</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    {% endif %}
    <!-- Fin 	Administracion -->

    <!-- inicio 	e-commerce -->
    {% if request.user|has_group:"e-commerce_sup" or request.user|has_group:"admin" %}
    <!-- ver solo el supervisor del area aqui -->
    {% endif %}
    {% if request.user|has_group:"e-commerce" or request.user|has_group:"e-commerce_sup" or request.user|has_group:"admin" %}
    <!-- accesos del area aqui -->
    <li class="nav-item">
      <a href="/../Herramientas/Control_pedidos"
        class="nav-link {% if 'Control_pedidos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Control pedidos</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/StockSegVtex"
        class="nav-link {% if 'StockSegVtex' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestion S/S Vtex</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="http:/../Herramientas/actNovICBC"
        class="nav-link {% if 'EditarContenedor' in actNovICBC.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Act Nov ICBC</p>
        <span class="badge badge-info right">new</span>
      </a>
    </li>
    {% endif %}
    <!-- Fin 	e-commerce -->

    <!-- inicio 	Gerencia -->
    {% if request.user|has_group:"Gerencia" or request.user|has_group:"admin" %}
    <li class="nav-item">
      <a href="http:/../Herramientas/rendircobranzas/{{ request.user.username }}"
        class="nav-link {% if 'rendircobranzas' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Rendir Cobranzas</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="http:/../Herramientas/RegistrarEfectivo/{{ request.user.username }}"
        class="nav-link {% if 'RegistrarEfectivo' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Registrar Efectivo</p>
        <span class="badge badge-danger right">New</span>
      </a>
    </li>
    {% endif %}
    {% if request.user|has_group:"Gerencia" or request.user|has_group:"Gerencia_Adm" or request.user|has_group:"admin" %}
    <li class="nav-item">
      <a href="http:/../Herramientas/GestionarCobro/{{ request.user.username }}"
        class="nav-link {% if 'GestionarCobro' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestionar Cobro</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    {% endif %}
    <!-- Fin 	Gerencia -->

    <!-- inicio 	Comercial -->
    {% if request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" or request.user.id == 20 %}
    <li class="nav-item">
      <a href="/../Herramientas/AdministrarCuotas"
        class="nav-link {% if 'AdministrarCuotas' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Adm. Cuotas</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    {% endif %}
    {% if request.user|has_group:"Comercial_may" or request.user|has_group:"Comercial_fr" or request.user|has_group:"Comercial_suc" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
    <!-- accesos del area aqui -->
    <li class="nav-item">
      <a href="/../Herramientas/Ventas_sucursales"
        class="nav-link {% if 'Ventas_sucursales' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Ventas sucursales</p>
      </a>
    </li>
    {% endif %}
    {% if request.user|has_group:"Comercial_suc" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
    <li class="nav-item">
      <a href="/../Herramientas/GestionCategoriaProductos"
        class="nav-link {% if 'GestionCategoriaProductos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestion Cat.Productos</p>
      </a>
    </li>
    {% endif %}
    {% if request.user|has_group:"Comercial_fr" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
    <!-- accesos del area aqui -->
    {% endif %}
    {% if request.user|has_group:"Comercial_may" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
    <!-- accesos del area aqui -->
    <li class="nav-item">
      <a href="/../Herramientas/Adm_Pedido" class="nav-link {% if 'Adm_Pedido' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Adm. Pedido</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    {% endif %}
    <!-- Fin 	Comercial -->


  </ul>

</li>