
{% load has_group %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">LAKERS Labs</span>
    </a><!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->      
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="{% url 'logout' %}" class="d-block text-warning">
            {{ request.user.username|upper }}
          </a>
          <a></a>
            <a href="/admin/" class="fas fa-user-cog text-succes"> - Admin</a>
        </div>
      </div>
      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          {% include 'includes/sidebar_Dashboard.html' %}          
          {% if request.user|has_group:"admin" %}
          {% include 'includes/sidebar_reportesAdmin.html' %}
          {% else %}
          {% include 'includes/sidebar_reportes.html' %}
          {% endif %}
          {% include 'includes/sidebar_herramientas.html' %}
          <li class="nav-header">EXTRAS</li>
          {% include 'includes/sidebar_extras.html' %}
          
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  