
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">LAKERS Labs</span>
    </a><!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <!-- <div class="image">
            <img src="/static/assets/img/user.png" class="img-circle elevation-2" alt="User Image">
          </div> -->
          <div class="info">
            <a href="{% url 'login' %}" class="d-block">
              {{ request.user.username|upper }} - Logout
            </a>
            <!-- <li class="info"> -->
              <a href="admin/" class="d-block text-warning">Admin</a>
            <!-- </li> -->
          </div>
        </div>
      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
    
          {% include 'includes/sidebar_Dashboard.html' %}
          <li class="nav-item has-treeview {% if '/Reportes/' in request.path %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if '/Reportes/' in request.path %} active {% endif %}">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Reportes
                <i class="right fas fa-angle-left"></i>
                    <span class="right badge badge-danger">New</span>
              </p>
            </a>
            {% include 'includes/sidebar_reportes.html' %}
          </li>
          {% include 'includes/sidebar_herramientas.html' %}
             

          <li class="nav-header">EXTRAS</li>
          {% include 'includes/sidebar_extras.html' %}
          
        </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  