{% load has_group %}  
<li class="nav-item {% if 'Reportes' in request.path %} menu-open {% endif %}">
  <a href="#" class="nav-link {% if 'Reportes' in request.path %} active {% endif %}">
    <i class="nav-icon fas fa-copy"></i>
    <p>
      Reportes
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
        <!-- RRHH compartido -->
        {% if not request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" or request.user|has_group:"RRHH" %}
        <li class="nav-item">
          <a href="/../Reportes/AsistenciasSuc" class="nav-link {% if '/AsistenciasSuc' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Reporte De Asistencias</p>
          </a>
        </li>
        {% endif %}
        {% if not request.user|has_group:"Gerencia" %}
        <li class="nav-item">
          <a href="/../Reportes/stockcentral" class="nav-link {% if '/stockcentral' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Stock Central</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/CategoriasDeProductos" class="nav-link {% if 'CategoriasDeProductos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Cat. de Productos</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        {% endif %}
        <!-- inicio Logistica -->
        {% if request.user|has_group:"Logistica_Sup" or request.user|has_group:"admin" %} 
        
        {% endif %}
        {% if request.user|has_group:"Logistica" or request.user|has_group:"Logistica_Sup" or request.user|has_group:"admin" %}
        <li class="nav-item">
          <a href="/../Reportes/pendiente_despacho" class="nav-link {% if 'pendiente_despacho' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Despachos Pendientes</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/MovimientosWms" class="nav-link {% if 'MovimientosWms' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Movimientos Wms</p>
          </a>
        </li>
        
        {% endif %}
      <!-- Fin Logistica -->
      
      <!-- inicio 	Abastecimiento -->
        {% if request.user|has_group:"Abastecimiento_Sup" or request.user|has_group:"admin" %} 
                  <!-- ver solo el supervisor del area aqui -->
        {% endif %}
        {% if request.user|has_group:"Abastecimiento" or request.user|has_group:"Abastecimiento_Sup" or request.user|has_group:"admin" %}
        <!-- accesos del area aqui -->
        <li class="nav-item">
          <a href="/../Reportes/Auditoria_orden" class="nav-link {% if 'Auditoria_orden' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Auditoría orden</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/HRecodificaciones"
            class="nav-link {% if 'HRecodificaciones' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>HRecodificaciones</p>
            <span class="badge badge-info right">New</span>
          </a>
        </li>
        
        {% endif %}
      <!-- Fin 	Abastecimiento -->

      <!-- inicio 	Administracion -->
        {% if request.user|has_group:"AdministracionSup" or request.user|has_group:"admin" %} 
                  <!-- ver solo el supervisor del area aqui -->
        <li class="nav-item">
          <a href="/../Reportes/Consultagastos" class="nav-link {% if 'Consultagastos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Consulta de gastos</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/DetalleContratosDeAlquiler"
            class="nav-link {% if 'DetalleContratosDeAlquiler' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Contratos De Alquiler</p>
            <span class="badge badge-info right">New</span>
          </a>
        </li>
        {% endif %}
        {% if request.user|has_group:"Administracion" or request.user|has_group:"AdministracionSup" or request.user|has_group:"admin" %}
        <li class="nav-item">
          <a href="/../Reportes/VentasXmedio_pago" class="nav-link {% if '/VentasXmedio_pago' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Resumen de Ventas</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/VentaVscobranza" class="nav-link {% if '/VentaVscobranza' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Venta Vs cobranza</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Controlcajasmensual" class="nav-link {% if '/Controlcajasmensual' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Control cajas Mensual</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/ResumenMensualAlquileres" class="nav-link {% if '/ResumenMensualAlquileres' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Resumen Mensual Alquileres</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/CargaGastosTesoreria"
            class="nav-link {% if 'CargaGastosTesoreria' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Carga Gastos Tesoreria</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        {% endif %}
      <!-- Fin 	Administracion -->

      <!-- inicio 	e-commerce -->
        {% if request.user|has_group:"e-commerce_sup" or request.user|has_group:"admin" %} 
                  <!-- ver solo el supervisor del area aqui -->
                  <li class="nav-item">
                    <a href="/../Reportes/Auditoria_Ecommerce" class="nav-link {% if 'Auditoria_Ecommerce' in request.path %} active {% endif %}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Auditoría Ecommerce</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/../Reportes/Auditoria_Prisma" class="nav-link {% if 'Auditoria_Prisma' in request.path %} active {% endif %}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Track Auditoría Prisma</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/../Reportes/Segmentación_clientes" class="nav-link {% if 'Segmentación_clientes' in request.path %} active {% endif %}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Segmentación de clientes</p>
                    </a>
                  </li>
        {% endif %}
        {% if request.user|has_group:"Logistica_Sup" or request.user|has_group:"e-commerce" or request.user|has_group:"e-commerce_sup" or request.user|has_group:"admin" %}
        <!-- accesos del area aqui -->
        <li class="nav-item">
          <a href="/../Reportes/stock_ecommerce" class="nav-link {% if '/stock_ecommerce' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Stock e-commerce</p>
            <!-- <span class="badge badge-info right">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Pedidos" class="nav-link {% if '/Pedidos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Pedidos</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/PedidosUY" class="nav-link {% if '/PedidosUY' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Pedidos UY</p>
            <span class="badge badge-info right">New</span>
          </a>
        </li>
        {% endif %}
      <!-- Fin 	e-commerce -->          

      <!-- inicio 	Gerencia -->
        {% if request.user|has_group:"Gerencia" or request.user|has_group:"admin" %} 
                  <!-- ver solo el supervisor del area aqui -->
        {% endif %}
        {% if request.user|has_group:"Gerencia" or request.user|has_group:"Gerencia_Adm" or request.user|has_group:"admin" %}
        <li class="nav-item">
          <a href="http:/../Reportes/DetalleRemitos599/{{ request.user.username }}"
            class="nav-link {% if 'DetalleRemitos599' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Detalle Rem599</p>
            <!-- <span class="badge badge-info right">2</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a href="http:/../Reportes/ChequesRecibidos/{{ request.user.username }}"
            class="nav-link {% if 'ChequesRecibidos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Reporte de cheques</p>
            <!-- <span class="badge badge-info right">2</span> -->
          </a>
        </li>
        {% endif %}
      <!-- Fin 	Gerencia -->          

      <!-- inicio 	Comercial -->
        {% if request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %} 
                  <!-- ver solo el supervisor del area aqui -->
        {% endif %}
        {% if request.user|has_group:"Comercial_may" or request.user|has_group:"e-commerce" or request.user|has_group:"Comercial_fr" or request.user|has_group:"Comercial_suc" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" or request.user|has_group:"Abastecimiento" %}
        <!-- accesos del area aqui -->
        <li class="nav-item">
          <a href="/../Reportes/Stock_Sucursales" class="nav-link {% if 'Stock_Sucursales' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Stock Sucursales</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/../Reportes/Stock_Suc_Articulos" class="nav-link {% if 'Stock_Suc_Articulos' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Stock sucursales X Art.</p>
          </a>
        </li>
        
        {% endif %}
        {% if request.user|has_group:"Comercial_suc" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
                  <!-- accesos sucursal aqui -->
        {% endif %}            
        {% if request.user|has_group:"Comercial_fr" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
                  <!-- accesos franquisia aqui -->
        {% endif %}
        {% if request.user|has_group:"Logistica_Sup" or request.user|has_group:"Comercial_may" or request.user|has_group:"Comercial_sup" or request.user|has_group:"admin" %}
        <!-- accesos mayorista aqui -->
        <li class="nav-item">
          <a href="/../Reportes/Tracking_pedidos_mayoristas" class="nav-link {% if 'Tracking_pedidos_mayoristas' in request.path %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Track Ped Mayoristas</p>
            <span class="badge badge-warning right">Deleted</span>
          </a>
        </li>
        {% endif %}
      <!-- Fin 	Comercial -->


  </ul>    
</li>

