{% load static %}
<!-- {% load has_group %} -->
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/assets/aprendizaje.png" type="image/x-icon">
  <link rel="canonical" href="https://AS1DO.com"/>

  <title>
    Admin Lakers - {% block title %}{% endblock %} | AS1DO
  </title> 
  
  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="hold-transition sidebar-mini sidebar-collapse layout-fixed">
  <div class="wrapper">
    

      

      {% include 'includes/sidebar.html' %}
                      

      {% block content %}{% endblock content %}

      {% include 'includes/footer.html' %}

      
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
      <h1>Hola mundo</h1>
    </aside>
    <!-- /.control-sidebar -->
  </div>
<!-- ./wrapper -->

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
</body>
</html>