{% extends "base.html" %}
{% load static %}

{% block content %}  
    <div class="container-fluid">
      <H2>
        XL GESTION 
      </H2>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p>Sistema de gestión de XL</p>
          <p> Acceda a <a href="https://www.xlshop.com.ar/" target="_blank">
              xlshop.com.ar</a> y vea los productos</p>
        </div>
        <iframe width="1100" height="675" src="https://app.powerbi.com/view?r=eyJrIjoiMDYxOTc1MzItMTYyZS00ODhkLTk3NjktOGMwMmQ1NjNhM2Y1IiwidCI6IjQ0Y2E2MmNkLTY4MjItNDZkNC05NTUxLTEzNDQ5N2ZmM2VjMiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
      </div>
<!-- 
      <h5>Más Dashboards</h5>
      <hr>
      <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="card rounded-0 p-0 shadow-sm">
                    <img src="{% static 'images/dash promociones.jpg' %}" class="card-img-top rounded-0">
                    <div class="card-body text-center">
                    <h6 class="card-title">Dashboard Promociones</h6>
                    <a href="https://app.powerbi.com/view?r=eyJrIjoiYTg5MGFmZmEtZGI3YS00ODcwLWIzMzctNWZiYzg2ZTQ4ZGQ1IiwidCI6IjQ0Y2E2MmNkLTY4MjItNDZkNC05NTUxLTEzNDQ5N2ZmM2VjMiIsImMiOjR9" target="_blank" class="btn btn-primary btn-sm">Acceder</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="card rounded-0 p-0 shadow-sm">
                    <img src="{% static 'images/dash ecommerce.jpg' %}" class="card-img-top rounded-0">
                    <div class="card-body text-center">
                        <h6 class="card-title">Dashboard Ecommerce</h6>
                        <a href="https://app.powerbi.com/view?r=eyJrIjoiZTA5MTc4ZjgtMWY4YS00NGEwLWE3ZDktYTU5Nzg3Y2E0ZDkzIiwidCI6IjQ0Y2E2MmNkLTY4MjItNDZkNC05NTUxLTEzNDQ5N2ZmM2VjMiIsImMiOjR9" target="_blank" class="btn btn-primary btn-sm">Acceder</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <hr>

    
{% endblock %}