

.contenedor{
width:90px;
height:240px;
position:fixed;
right:0px;
bottom:0px;
}
.botonF1{
width:60px;
height:60px;
border-radius:100%;
background:#db4437;
right:0;
bottom:0;
position:fixed;
margin-right:16px;
margin-bottom:16px;
border:none;
outline:none;
color:#FFF;
font-size:xx-large;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
transition:.3s;  
}
span{
transition:.5s;  
}
.botonF1:hover span{
transform:rotate(360deg);
}
.botonF1:active{
transform:scale(1.1);
}

  